* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Radio Canada Big", sans-serif;
  height: 100vh;
  background-color: #262c40;
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  /* nanti hapus border dibawah ini */
  /* border: 2px solid black; */
}

header {
  /* coba nanti dicek kalo bg-color dihapus cocok ga */
  background-color: #414e6e;
  display: flex;
  padding: 12px 16px;
}

header .top-header {
  display: flex;
  align-items: center;
}

header .top-header h1 {
  margin-left: 12px;
  font-size: 2.18em;
  letter-spacing: 2px;
  color: #f2f7fb;
}

header .top-header h1 span {
  color: #839dd1;
}

header .top-header form#searchBook {
  width: 100%;
  padding: 12px;
  margin-left: 9rem;
}

header .top-header form#searchBook input[type="search"] {
  height: 38px;
  padding: 0 26px 0 12px;
  border-radius: 6px;
  margin-right: 12px;
  border-color: #414e6e;
  outline: 1px solid #414e6e;
  background-image: url(/assets/img/svgviewer-output.svg);
  background-position: 26.65rem 9px;
  background-repeat: no-repeat;
  background-size: 1.15rem;
}

header .top-header form#searchBook input[type="search"]::placeholder {
  outline: 1px solid #839dd1;
}

header .top-header form#searchBook input[type="submit"] {
  padding: 9.25px 24px;
  background-color: #839dd1;
  border: none;
  border-radius: 6px;
  color: #f2f7fb;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  box-shadow: 5px 10px 12px -10px rgba(38, 44, 64, 1);
}

header .top-header form#searchBook input[type="submit"]:hover {
  cursor: pointer;
}
